doctype html
html(lang="ar")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../all.css")
    title javascript lesson 1
  body 
    include  ../0-mywork/comp/header
    .parent-of-sidebar.mttt
      include ../0-mywork/comp/js-sidebar

      main.left-side(dir="rtl")
       h1.box.mt Lesson 1
       ol.mttt
        li يجب ان يكون لديك معرفة بالـ HTML & CSS
        li الكورس خاص بالمبتدئين لذلك سوف يتم شرح الجافا سكريبت من الصفر
        li هذا الكورس هو 

         mark project-based course
         
         | بمعنى انه سوف تتعلم كيفية استخدام الاكواد فى بناء المشاريع
    include  ../0-mywork/comp/footer
