doctype html
html(lang="ar")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../all.css")
    title javascript lesson 1
  body 
    include  ../0-mywork/comp/header
    .parent-of-sidebar.mttt
      include ../0-mywork/comp/js-sidebar

      main.left-side 
       h1.box.mt Lesson 2
    include  ../0-mywork/comp/footer
