nav.sidebar(dir="rtl")
  ul(dir="ltr")
    li.mt: a.link(href="./lesson-1.html") 1- المُقدمة 
    li.mt: a.link(href="./lesson-2.html") 2- get HTML Elements
    li.mt: a.link(href="./lesson-2.html") 3- Variables & style
    li.mt: a.link(href="./lesson-2.html") 4- javascript & HTML
    li.mt: a.link(href="./lesson-2.html") 5- Function declaration
    li.mt: a.link(href="./lesson-2.html") 6- Function expression
    li.mt: a.link(href="./lesson-2.html") 7- addEventListener
    li.mt: a.link(href="./lesson-2.html") 8- project
    li.mt: a.link(href="./lesson-2.html") 9- إفهم الدنيا يا صاحبى ⭐
    li.mt: a.link(href="./lesson-2.html") 10- project
    li.mt: a.link(href="./lesson-2.html") 11- project
    li.mt: a.link(href="./lesson-2.html") 12- Data Types
    li.mt: a.link(href="./lesson-2.html") 13- Array
    li.mt: a.link(href="./lesson-2.html") 14- Array Methodst
    li.mt: a.link(href="./lesson-2.html") 15- project
    li.mt: a.link(href="./lesson-2.html") 16- if else
    li.mt: a.link(href="./lesson-2.html") 17- Switch case
    li.mt: a.link(href="./lesson-2.html") 18- المُلخص











