doctype html
html(lang="ar" dir="rtl")
  head
    include 0-mywork/comp/inhead
    title كورس جافاسكريبت 2022
    style. 
      .level{
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        }
      .level:hover a{
        color: #fff ;
      }  
  body 
    include 0-mywork/comp/header 
    main.center 
      h1.box.mttt كورس جافاسكريبت 2022          
      a(href="./javascript-level1/lesson-1.html") 
       h2.mybtn.mttt.level المُستوى الأول: كورس جافا سكريبت من الصفر
      h2.mybtn.mttt.level المُستوى الثانى : كورس جافا سكريبت من للمبتدئين
      h2.mybtn.mttt.level المُستوى الثالث : كورس جافا سكريبت من للمحترفين
    include 0-mywork/comp/footer